In [1]:
import pandas as pd
import pyspark.sql as dfapi
import pyspark.pandas as pds
from sqlalchemy import create_engine

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [2]:
mysql_Path = r'C:\Users\Administrator\Documents\cowpay_migration\Extra_Connections\MYSQL_8_Jar_Connector\mysql-connector-java-8.0.11.jar'
MSSQL_Path = r'C:\Users\Administrator\Documents\cowpay_migration\Extra_Connections\MSSQL_JDBC_Connector\enu\mssql-jdbc-11.2.0.jre17.jar'
spark = dfapi.SparkSession.Builder().config("spark.jars",mysql_Path).config("spark.driver.extraClassPath",MSSQL_Path)\
.appName("tryout").getOrCreate()
spark

In [3]:
mysql_jdbc_Conn="jdbc:mysql://localhost:3306/cowpay_staging?user=root&password=P@ssw0rd"
#"jdbc:mysql://localhost:3306/cowpay_staging
MSSQL_Jdbc_Conn ="jdbc:sqlserver://localhost:1433;database=MerchantManagement;user=sa;password=2580;trustServerCertificate=true;"
engine = create_engine('mssql+pymssql://sa:2580@localhost:1433/MerchantManagement')

In [4]:
df = spark.read.format("jdbc").option("url", mysql_jdbc_Conn) \
   .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "countries") \
    .load()
  #  .option("user", "root").option("password", "P@ssw0rd").load()
df.createOrReplaceTempView('city')
df_staging=spark.sql('''
select 
cast(id as int) id, cast(name as varchar(50)) as name, cast (code as int) code , cast(flag as int) flag, created_at, updated_at, deleted_at
from city
''')

In [5]:
cowpay_cities_src=df_staging.to_pandas_on_spark()
cowpay_cities_src.head()

C:\Users\Administrator\Documents\cowpay_migration\Spark_env\lib\site-packages\pyspark\sql\dataframe.py:3313: FutureWarning: DataFrame.to_pandas_on_spark is deprecated. Use DataFrame.pandas_api instead.
  warnings.warn(

   id            name  code  flag          created_at          updated_at          deleted_at
0   1     Afghanistan   NaN   NaN 2019-03-27 14:55:29 2019-03-27 14:55:29 2019-03-27 14:55:29
1   2           Åland   NaN   NaN 2019-03-27 14:55:29 2019-03-27 14:55:29 2019-03-27 14:55:29
2   3         Albania   NaN   NaN 2019-03-27 14:55:29 2019-03-27 14:55:29 2019-03-27 14:55:29
3   4         Algeria   NaN   NaN 2019-03-27 14:55:29 2019-03-27 14:55:29 2019-03-27 14:55:29
4   5  American Samoa   NaN   NaN 2019-03-27 14:55:29 2019-03-27 14:55:29 2019-03-27 14:55:29

In [6]:
cowpay_cities_src.shape

(249, 7)

In [7]:
cowpay_cities_trgt=pds.read_sql("select * from dbo.cities_bkb",MSSQL_Jdbc_Conn )
cowpay_cities_trgt.head()

Empty DataFrame
Columns: [Id, CountryId, Name, CreatedDate, UpdatedDate, DeletedDate, IsDeleted]
Index: []

In [8]:
cowpay_cities_src.columns

Index(['id', 'name', 'code', 'flag', 'created_at', 'updated_at', 'deleted_at'], dtype='object')

In [9]:
new_names= {'id':'ID', 'name':'Name', 'code':'CountryId', 'flag':'IsDeleted', 'created_at':'CreatedDate', 'updated_at':'UpdatedDate', 'deleted_at':'DeletedDate'}

In [10]:
cowpay_cities_src.rename(new_names,inplace=True,axis=1)
cowpay_cities_src.columns

Index(['ID', 'Name', 'CountryId', 'IsDeleted', 'CreatedDate', 'UpdatedDate',
       'DeletedDate'],
      dtype='object')

In [11]:
cowpay_cities_src.astype({'CountryId':int})
cowpay_cities_src.dtypes

ID                      int32
Name                   object
CountryId               int32
IsDeleted               int32
CreatedDate    datetime64[ns]
UpdatedDate    datetime64[ns]
DeletedDate    datetime64[ns]
dtype: object

In [12]:
cowpay_cities_trgt.columns

Index(['Id', 'CountryId', 'Name', 'CreatedDate', 'UpdatedDate', 'DeletedDate',
       'IsDeleted'],
      dtype='object')

In [13]:
cowpay_cities_src.drop('ID',axis='columns').to_spark_io(format="jdbc", mode="append",
    dbtable="cities_bkb", url=MSSQL_Jdbc_Conn)

C:\Users\Administrator\Documents\cowpay_migration\Spark_env\lib\site-packages\pyspark\pandas\frame.py:4798: FutureWarning: Deprecated in 3.2, Use DataFrame.spark.to_spark_io instead.
  warnings.warn("Deprecated in 3.2, Use DataFrame.spark.to_spark_io instead.", FutureWarning)

In [14]:
spark.stop()